# Exercises

__ex 1:__ Print the concatenation of "I" "love" "pizza"

__ex 2:__ Create a variable called `name` with your name and print the following sentence: `"Hello, my name is <name>"`

__ex 3:__ Create a list with the values [3, 5, 2, 10, 1]Â and print the first 3 elements by slicing the list

__ex 4:__ Use the following two lists for the next exercise

In [ ]:
l1 = [5312, 21, 1230, 3213, 233, 22]
l2 = [9586, 7184, 5312, 3675, 7082,  636, 9501,  298, 21]

Write the code to answer the following questions:
1. Is the first element of l1 equal to the third element of l2? (Print True or False)
2. Is the second element of l1 equal to the last element of l2? (Print True or False)
3. Sum the first 4 elements of l1
4. Sum the last 2 elements of l2

__ex 5:__ Reverse the following list in python

In [ ]:
mylist = [100, 200, 300, 400, 500]

__ex 6:__ Concatenate the following 2 lists

In [ ]:
l1 = [1, 2, 3]
l2 = [4, 5, 6]

__ex 7:__ Find the value 20 in the following list and replace it with 200

In [ ]:
mylist = [5, 10, 1, 3, 7, 20, 100, 500, 42, 11]